<% if @item[:title] %>
  <h1><%= @item[:title] %></h1>
<% end %>
<div class='entries'>
  <% sorted_articles.first(5).each do |post| %>
    <%= render '/article.html.erb', article: post %>
  <% end %>
</div>

<hr/>
For older posts, see the <a href="/archive/">blog archive</a>.
