// fontawesome
$fa-font-path:        "vendor/forkawesome/fonts";

@import 'vendor/bootstrap/scss/bootstrap';
@import 'vendor/forkawesome/scss/fork-awesome';
@import 'vendor/rouge';

// local
$background:          $gray-100;
$text:                $gray-900;
$lighter-text:        $gray-700;
$light-line:          $gray-500;
$highlight:           #cc0000;


body {
  background: $background;
}

.container {
  max-width: 800px;
}

main[role=main] {
  color: $text;
  padding-top: 50px;
  padding-bottom: 50px;
  min-height: 600px;
}

main img {
  max-width: 100%;
}

blockquote {
  margin-left: 2em;
  padding-left: 0.5em;
  border-left: 2px solid $light-line;
  color: $lighter-text;
  font-style: italic;
}

table {
  border-collapse: collapse;
  margin-bottom: 1rem;
}

th, td {
  padding: 0.5rem;
  border: 1px solid $light-line;
}


a, a:hover, .btn-link, a.btn-link:hover, .nav-item.active a {
  color: $highlight !important;
}

#title, #nav-links {
  line-height: 30px;
  padding-top: 20px;
  padding-bottom: 10px;
  font-size: 1.25rem;
  a {
    padding: 0.3125rem;
    color: $light-line !important;
    font-variant: small-caps;
    :hover {
      color: $highlight;
    }
  }
  a.active {
    color: $highlight !important;
    border-bottom: 1px solid $highlight;
  }
  a:hover {
    color: $highlight !important;
    text-decoration: none;
  }
}

footer .container {
  padding-top: 1em;
  padding-bottom: 1em;
}

.entry {
  border-top: 1px solid $light-line;
  margin-top: 25px;
  padding-top: 25px;

  &:first-child {
    border-top: none;
    margin-top: 0px;
    padding-top: 0px;
  }

  .entry-info {
    font-size: smaller;
  }

  .entry-content {
    margin-top: 15px;
  }
}

/* this is the only element with hardcoded colors, since the code
 * block generation expects a dark background. */
pre {
  background-color: $gray-900;
  color: $gray-100;
  padding: 1em;
}


.tag-1 {
}

.tag-2, .tag-3, .tag-4 {
  font-size: larger;
}

.tag-3, .tag-4 {
  text-decoration: underline;
}

.tag-4 {
  font-weight: bold;
}
