<h1>Tags</h1>

<p>
See also <a href="/archive/">the archive</a>.
</p>

<% tags.sort_by { |tag| tag.attributes[:identifier] }.each do |tag| %>
  <span class="tag-<%= tag[:weight] %>"><%= link_to(tag[:tag], tag) %></span>
<% end %>
