<div class='entry'>
  <h1>
    <%= active_link?(article.path) ? article[:title] : link_to(article[:title], article.path) %>
  </h1>
  <div class='entry-info'>
    <em class='article-date'><%= post_date(article) %></em>
  </div>
  <div class='entry-tags'>
    Tags:
    <%= tags_for(article, base_url: '/tag/') %>
  </div>
  <div class='entry-content'>
    <%= article.compiled_content %>
  </div>
  <% if !active_link?(article.path) %>
    <div class="permalink">
      <%= link_to 'Permanent link to this article', article %>
    </div>
  <% end %>
</div>
