<table>
  <tr>
    <th>Post</th>
    <th>Date</th>
  </tr>
  <% @posts.each_with_index do |post| %>
    <tr>
      <td><%= link_to post[:title], post %></td>
      <td><%= post_date(post) %></td>
    </tr>
  <% end %>
</table>


