<!doctype html>
<html lang="<%= @item[:language] || @config[:language] || 'en' %>">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="<%= (@item[:kind] == 'article' ? excerptize(strip_html(@item.compiled_content(snapshot: :pre)), length: 240) : @config[:description]).gsub(%r{\s+}, " ").strip %>">
    <meta name="author" content="<%= @config[:author] %>">

    <meta name="generator" content="Nanoc <%= Nanoc::VERSION %>">

    <link rel="icon" href="/icon-32.png" sizes="32x32"/>
    <link rel="icon" href="/icon-64.png" sizes="64x64"/>
    <link rel="icon" href="/icon-128.png" sizes="128x128"/>
    <link rel="icon" href="/icon-256.png" sizes="256x256"/>

    <title><%= [@item[:title] && strip_html(@item[:title]), @config[:title]].compact.join(' - ') %></title>

    <link href="/style.css" rel="stylesheet">
  </head>

  <body>

    <nav>
      <div class='container'>
        <div class="row">
          <div id="title" class="col-md-6">
            <a href="/" class="<%= active('/') %>"><%= @config[:title] %></a>
          </div>
          <div id="nav-links" class="col-md-6 text-md-right">
            <a title="Home/Blog" class="<%= active('/') %>" href="/"><i class='fa fa-home'></i></a>
            <a title="Blog Archive" class="<%= active('/archive/') %>" href="/archive/"><i class='fa fa-archive'></i></a>
            <a title="Blog feed" href="/feed.xml"><i class='feed-icon fa fa-rss'></i></a>

            &nbsp;

            <a title="About" class="<%= active('/about/') %>" href="/about/"><i class='fa fa-info-circle'></i></a>
            <a title="Publications" class="<%= active('/publications/') %>" href="/publications/"><i class='fa fa-book'></i></a>

            &nbsp;

            <a title="Papo Livre Podcast" href="https://papolivre.org/"><i class='feed-icon fa fa-podcast'></i></a>
            <a title="Antonio Terceiro on Debian Salsa" href="https://salsa.debian.org/terceiro"><i class='fa fa-debian'></i></a>
            <a title="Antonio Terceiro on gitlab.com" href="https://gitlab.com/terceiro"><i class='fa fa-gitlab'></i></a>
            <a title="Antonio Terceiro on GitHub" href="https://github.com/terceiro"><i class='fa fa-github'></i></a>
          </div>
        </div>
        <div>
          <hr/>
        </div>
      </div>
    </nav>

    <main role="main">
    <div class="container">
      <% if @item[:kind] == 'article' %>
        <%= render '/article.html.erb', article: @item %>
      <% else %>
        <%= yield %>
      <% end %>
    </div><!-- /.container -->
    </main>

    <footer>
      <div class='container'>
        <hr/>
        © <%= config[:author_name] %>.
        <%= config[:license] %>
      </div>
    </footer>
  </body>
</html>
