<h1>
  <%= @item[:title] %>
  <a href="<%= @item[:feed_path] %>" ><i class="fa fa-rss"></i></a>
</h1>

<%= render '/blog_archives.html.erb', posts: tag_feed(@item) %>

<p>
<a href="/tags">All tags</a>
</p>
